<form class="todo-create" [formGroup]="form">
  <h2 class="todo-create__title mt-3 mb-3">
    Create Todo
  </h2>
  <label class="todo-create__row">
    <span class="todo-create__name">name</span>
    <input type="text"
           class="form-control"
           formControlName="name"
           [class.error]="requiredName">
    <span class="alert alert-danger"
          *ngIf="requiredName">Field Name is required</span>
  </label>
  <label class="todo-create__row">
    <span class="todo-create__name">e-mail</span>
    <input type="text"
           class="form-control"
           formControlName="email"
           [class.error]="requiredEmail">
    <span class="alert alert-danger"
          *ngIf="requiredEmail">Field E-mail is required</span>
  </label>
  <label class="todo-create__row">
    <span class="todo-create__name">description</span>
    <textarea type="text"
              class="form-control"
              formControlName="description">
    </textarea>
  </label>
  <label class="todo-create__row">
    <span class="todo-create__name">phone Number</span>
    <input type="text"
           class="form-control"
           formControlName="phoneNumber"
           [class.error]="patternPhone">
    <span class="alert alert-danger"
          *ngIf="patternPhone">
      Pattern: [ {{ this.form.get('phoneNumber').errors.pattern.requiredPattern }} ]
    </span>
  </label>

  <div class="todo-create__actions d-flex justify-content-center">
    <button type="button" class="btn btn-success mr-3" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>
